gateway:
  type: NodePort

ingress-controller:
  enabled: false

etcd:
  enabled: true
  replicaCount: 1
  persistence:
    enabled: false
  image:
    registry: docker.io
    repository: bitnami/etcd
    tag: latest
    pullPolicy: Always
