apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: ingress-apisix
spec:
  clusterIP: None
  selector: { app: etcd }
  ports:
    - { name: client, port: 2379, targetPort: 2379 }
    - { name: peer,   port: 2380, targetPort: 2380 }
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: etcd
  namespace: ingress-apisix
spec:
  serviceName: etcd
  replicas: 1
  selector: { matchLabels: { app: etcd } }
  template:
    metadata: { labels: { app: etcd } }
    spec:
      containers:
        - name: etcd
          image: gcr.io/etcd-development/etcd:v3.6.5
          imagePullPolicy: IfNotPresent
          command: ["/usr/local/bin/etcd"]
          args:
            - --name=etcd-0
            - --data-dir=/var/lib/etcd
            - --listen-client-urls=http://0.0.0.0:2379
            - --advertise-client-urls=http://etcd-0.etcd.ingress-apisix.svc.cluster.local:2379
            - --listen-peer-urls=http://0.0.0.0:2380
            - --initial-advertise-peer-urls=http://etcd-0.etcd.ingress-apisix.svc.cluster.local:2380
            - --initial-cluster=etcd-0=http://etcd-0.etcd.ingress-apisix.svc.cluster.local:2380
            - --initial-cluster-state=new
            - --initial-cluster-token=apisix-etcd
          ports:
            - { name: client, containerPort: 2379 }
            - { name: peer,   containerPort: 2380 }
          volumeMounts:
            - { name: data, mountPath: /var/lib/etcd }
      volumes:
        - name: data
          emptyDir: {}
